#cloud-config
hostname: ${hostname}
manage_etc_hosts: true
user: ${username}
ssh_authorized_keys:
%{ for key in ssh_keys ~}
  - ${key}
%{ endfor ~}

packages:
  - qemu-guest-agent
  - curl
  - vim
  - iptables-persistent

runcmd:
  - apt update
  - apt upgrade -y
  - systemctl enable --now qemu-guest-agent
  - echo "net.ipv4.ip_forward=1" | sudo tee /etc/sysctl.d/99.forward.conf > /dev/null
  - sudo sysctl --system
  - sudo iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
  - sudo iptables -A FORWARD -i eth1 -o eth0 -j ACCEPT
  - sudo iptables -A FORWARD -i eth0 -o eth1 -m state --state RELATED,ESTABLISHED -j ACCEPT
  - netfilter-persistent save
  
  - echo "Cloud-init finished at $(date)" > /var/log/cloud-init-done.log
