#cloud-config
hostname: ${hostname}
manage_etc_hosts: true
user: ${username}
ssh_authorized_keys:
%{ for key in ssh_keys ~}
  - ${key}
%{ endfor ~}

packages:
  - qemu-guest-agent
  - curl
  - vim

runcmd:
  - apt update
  - apt upgrade -y
  - systemctl enable --now qemu-guest-agent
  - echo "Cloud-init finished at $(date)" > /var/log/cloud-init-done.log
